// Card
// ===

.c-card {
    margin: $v-space*2 0;
    padding: $v-space $h-space*2;
    border: 1px solid $grey-75;
    border-radius: $border-radius;

    background: $grey-90;
    box-shadow: inset 0 1px 4px rgba($grey-75, 0.75);

    font-weight: bold;
}
