// Newsletter
// ===
//
// 1, Legacy flexbox fix

.c-newsletter {
    display: flex;

    .c-button {
        display: block; // 1
        flex: 0 0 auto;
        margin-left: $small-h-space;
    }
}


// Newsletter: field
// ---

.c-newsletter__field {
    flex: 1 1 auto;
}
