// Product List
// ===
//
// 1. Clearfix because the child `.c-product-list__item` elements float

.c-product-list {
    @include clearfix; // 1

    font-family: $serif;
    text-align: center;
}


// Product List Item
// ---
//
// 1. Override link color if the item itself is an `<a>` tag

.c-product-list__item {
    float: left;

    display: block;
    width: 50%;
    padding: $v-space $small-h-space;

    color: $grey-20; // 1

    &:nth-child(odd) {
        clear: both;
    }
}
