// Header
// ===

.t-header {
    display: flex;
    padding: $v-space $small-h-space;
}


// Header: Menu
// ---

.t-header__menu {
    flex: 1 0 auto;

    .c-button {
        display: block;
        min-width: 45px;
        min-height: 45px;

        background-image: url('/images/menu.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px auto;
    }
}


// Header: Logo
// ---
//
// 1. Height comes from the logo img tag
// 2. Legacy flexbox fix

.t-header__logo {
    flex: 1 1 auto;
    padding: 0 $h-space;

    a {
        display: block; // 2
        height: 39px; // 1
    }

    img {
        max-height: 100%;
    }
}


// Header: Cart
// ---

.t-header__cart {
    flex: 1 0 auto;
}


// Header: Menu, Logo AND Cart!
// ---

.t-header__menu,
.t-header__logo,
.t-header__cart {
    display: flex;
    align-items: center;
}
